@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    cursor: default !important;
}

@layer utilities {
    .show-scrollbar {
        -ms-overflow-style: auto !important;
        scrollbar-width: thin !important;
    }

    .show-scrollbar::-webkit-scrollbar {
        display: block;
        width: 8px;
        height: 8px;
    }

    .show-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .show-scrollbar::-webkit-scrollbar-thumb {
        background: hsl(var(--heroui-default-300));
        border-radius: 4px;
    }

    .show-scrollbar::-webkit-scrollbar-thumb:hover {
        background: hsl(var(--heroui-default-400));
    }
}

html[data-tauri-dragging="true"],
html[data-tauri-dragging="true"] * {
    cursor: grabbing !important;
}

html {
    overscroll-behavior: none;
}

body {
    /* background-color: red; */
}

/* * {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
} */
